doctype html
html(lang=loc.loc)
    meta(charset="utf-8")
    meta(property='og:site_name' content='Zelf')
    meta(property='og:type' content='website')
    meta(http-equiv="ScreenOrientation" content="autoRotate:disabled")
    meta(name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(href='../assets/css/404.min.css' rel="stylesheet")
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    <!-- Google Tag Manager -->
    script
        | (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        | new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        | j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        | 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        | })(window,document,'script','dataLayer','GTM-PQCHTW5');
    <!-- End Google Tag Manager -->
    body
        <!-- Google Tag Manager (noscript) -->
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PQCHTW5"
                height="0" width="0" style="display:none;visibility:hidden")
        <!-- End Google Tag Manager (noscript) -->
        include ../components/faq_header
        .pageAlign
            .content
                div.sphere-container
                    img(src="../assets/img/circle.svg")#video-placeholder
                    video(src="../assets/img/Sphere_full.mp4"
                        autoplay loop muted playsinline).sphere#mobile-sphere
                        | Sorry, your browser doesn't support embedded videos
                    span.err 404
                p=loc.notFound
                a(href="./").btn=loc.backToMain
        script(src="../assets/js/loc.js" type="text/javascript")
        script(src="../assets/js/modal.js" type="text/javascript")