-loc = loc || {loc:'en'};
li
    a(id=loc.loc+"_messenger" href="https://m.me/zelf.co" title="Messenger")
        img(
            src="../assets/img/social/messenger-no-bg.svg"
        )
li
    a(id=loc.loc+"_whatsapp" href="https://wa.me/33754030808?text=start" title="WhatsApp")
        img(
            src="../assets/img/social/WhatsApp logo.svg"
        )
li
    a(id=loc.loc+"_telegram" href="tg://resolve?domain=zelfbot" title="Telegram")
        img(
            src="../assets/img/social/telegram.svg"
        )
li
    a(id=loc.loc+"_viber" href="viber://pa?chatURI=zelf" title="Viber")
        img(
            src="../assets/img/social/Viber-no-bg.svg"
        )